body {
    background-image: url("https://www.nyc.gov/assets/mome/images/content/miny_blk_on_trans.gif");
    background-position: center;
    background-repeat: no-repeat;
    height: 1100px;
    background-size: 500px;
}